html,body{
    overflow: hidden;
}

body{
    font-size: 450px;
    background-color: #DF4E7F;
    color: #1C295F;
    margin: 50px auto;
    text-align:center;
    position: relative;
}

@media screen and (max-width: 480px) { /*smartphone*/
    body{
        font-size: 300px;
        text-align: center;
        height: 300px;
        line-height: 300px;
     }
 }

script{
    position:absolute;
}

*{
	float: none;
	position: static;
}
 
img{
	max-width: 100%;
	height: auto;
}

#matryoshka-top{
    
}

#matryoshka-bottom{
    
}