html,body{
    /*overflow: hidden; /*no scrolling*/
    height: 100vh;
    font-family: "OCRB";
    font-weight: bold;
}

*{
	float: none;
}

body{
    font-size: 450px;
    background-color: yellow;
    color: #1C295F;
    margin: 0px auto;
    text-align:center;
    position: relative;
}

@media screen and (max-width: 480px) { /*smartphone*/
    body{
        font-size: 300px;
        text-align: center;
        height: 300px;
        line-height: 300px;
     }
 }

script{
    position:absolute;
}

img{
	max-width: 100%;
	height: auto;
}

#matryoshka-top{
    position: absolute;
    left:50%;
    transform: translateX(-50%, -50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    animation-name: top;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

#matryoshka-bottom{
    position: absolute;
    left:50%;
    transform: translateX(-50%, -50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    animation-name: bottom;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes top{
    0%{
        top: 50px;
    }
    100%{
        top: -50px;
    }
}

@keyframes bottom{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: -100px;
    }
}